<% title "Edit your Profile" %>

<%= render :partial => '/images/content_top' %>

<div class="content_bottom">
	
	<h2>Edit your Profile</h2>

	<div class="left" style="margin: 0 50px 0 0 "><%= render :partial => 'form' %></div>	
	
	<div class="left">
		
	</div>
	
</div>












