<% title "Register" %>

<%= render :partial => '/images/content_top' %>

<div class="content_bottom">
	
	<h2>Register</h2>

	<div class="left" style="margin: 0 50px 0 0 "><%= render :partial => 'form' %></div>	
	
	<div class="left">
		<p><strong>Uploads from Registered Users</strong> are processed two times instead of one.</p>
		<p>Be sure to check your mail for a confirmation message and click the link to activate your account.</p>
	</div>
	
</div>












