<% title "About Digital Whispers" %>

<%= render :partial => '/images/content_top' %>

<div class="content_bottom">
	
	<object width="480" height="385" style="float: right; margin: 0 0 0 40px"><param name="movie" value="http://www.youtube.com/v/f3ZQIDOkVK0&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/f3ZQIDOkVK0&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
	


	<h2>About Digital Whispers</h2>
	
	<p>Digital Whispers is the final college project of 8 talented MultiMediaArt artists. We created this audiovisual installation, because we were interested in the transformation of images to sound and vice versa.</p> 
	
	<p>This web application invites the user to interact with the system by adding favoured images to the server. The content generates itself with its inputs. The installation is created from these images and offers an aesthetic environment for the visitors, and beyond, to the user on the web.</p> 
	
	<p>First we were part of the artist residency programm, which was provided by subnet. The reason for a change of location was a lack of space. So we settled to the new medialab, provided by the University of Applied Sciences, where we were able to build this prototype, for a further planned public space installation.</p>
	
	<h3>Team Members</h3>
	
	<ul style="margin: 0 0 40px 0">
		
	<li><strong>Hannes Franks:</strong> project leader, vvvv operator, technical supervisor</li>

	<li><strong>Gerald Schinwald:</strong> art direction, Sculptural design & realisation, concept, coordination, promotion</li>

	<li><strong>Marcel Uekermann:</strong> Web Application, Tierbetreuung</li>

	<li><strong>Tobias Furtschegger:</strong> Flash Application, Corporate Design</li>

	<li><strong>Markus Huber:</strong> 3d Artist, Sculptural Design</li>

	<li><strong>Simon Zingerle:</strong> Sound Processing</li>

	<li><strong>Johann Steiner:</strong> Additional Sound Processing</li>
	
	<li><strong>Bartholomäus Traubeck:</strong> Additional vvvv graphics</li>
	
	</ul>
	
	
	
	<h3 class="clearer">Development Process</h3>

	<div class="image_slider">
		<ul>
			<li><img src="/images/photos/1.jpg"/></li>
			<li><img src="/images/photos/2.jpg"/></li>
			<li><img src="/images/photos/3.jpg"/></li>
			<li><img src="/images/photos/4.jpg"/></li>
			<li><img src="/images/photos/5.jpg"/></li>
			<li><img src="/images/photos/6.jpg"/></li>
			<li><img src="/images/photos/7.jpg"/></li>
			<li><img src="/images/photos/8.jpg"/></li>
		</ul>
	</div>

</div>