<% title "Contact Digital Whispers" %>

<%= render :partial => '/images/content_top' %>

<div class="content_bottom">


	<h2>Contact Digital Whispers</h2>

	<p>If you have any questions or want to send us feedback, don't hesitate to <a href="mailto:schinwaldgst@gmail.com">drop us a few lines</a></p>
	

</div>