<div class="content_top clearfix" style="min-height: 380px; padding: 40px 40px 0 40px">
		
	<img src="/images/installation.jpg" class="installation">
	<h1 class="dw_logo" style="margin: 0 0 130px 0"><a href="/">Digital Whispers</a></h1>
	
	<p style="width: 300px; margin: 0 0 20px 0">This is a short and sweet introduction to digital whispers. Shouldn’t be longer than 3 rows of text.</p>
	
	<ul class="hover_nav clearfix">
		<li><a href="/page/timeline" class="witness"><strong>witness</strong> <span>View all Submissions on the timeline.</span></a></li>
		<li><a href="/images/new" class="whisper"><strong>whisper</strong> <span>Upload a new Submission.</span></a></li>
	</ul>
	
</div>
<div class="content_bottom">
	
	<ul class="teaser_list clearfix">
		<li>
			<a href="/page/timeline"><img src="/images/teaser_local.jpg"></a>
			<h2>DW is local</h2>
			<p><strong>Digital Whispers</strong> is an interactive installation which processes images to sound and vice versa. The first exhibition will be held on May 28th at MdM in Salzburg. </p>
			<a href="/page/timeline" class="grey_button">Come by <span>(witness)</span></a>
		</li>
		<li>
			<a href="/images/new"><img src="/images/teaser_social.jpg"></a>
			<h2>DW is social</h2>
			<p><strong>Upload</strong> your Images and participate in a unique media installation. All submission are processed by the installation and form a unique piece of art after each exhibition.</p>
			<a href="/images/new" class="grey_button">Upload <span>(whisper)</span></a>
		</li>
		<li>
			<a href="/page/about"><img src="/images/teaser_about.jpg"></a>
			<h2 style="color: white">About DW</h2>
			<p><strong>Digital Whispers</strong> is the final college project of 8 talented MultiMediaArt artists. Learn more about the creators and their future plans for Digital Whispers.</p>
			<a href="/page/about" class="grey_button">Learn <span>about us</span></a>
		</li>
	</ul>
	
	
</div>
