<div class="content_top clearfix" style="min-height: 380px; padding: 70px 40px 0 40px">
		
	<img src="/images/installation.jpg" class="installation">
	<h1 class="dw_logo" style="margin: 0 0 130px 0"><a href="/">Digital Whispers</a></h1>
	
	<p style="width: 340px; margin: 0 0 20px 0"><strong>Digital Whispers</strong> is an Interactive Installation which processes uploaded Images into Sound and vice versa.</p>
	
	<ul class="hover_nav clearfix">
		<li><a href="/timeline" class="witness"><strong>witness</strong> <span>View all Submissions on the timeline.</span></a></li>
		<li><em class="whisper"><strong>whisper</strong> <a href="/images/webcam" style="margin-top: 10px">Take Webcam Image</a><a href="/images/draw">Draw new Image</a><a href="/images/new" >Upload Local File</a></em></li>
	</ul>
	
</div>
<div class="content_bottom">
	
	<ul class="teaser_list clearfix">
		<li>
			<a href="/timeline"><img src="/images/teaser_local.jpg"></a>
			<h2>DW is local</h2>
			<p><strong>The first exhibition</strong> will be held on May 28th at MdM in Salzburg. Come by and witness the installation or upload your Images from home.</p>
			<a href="/timeline" class="grey_button">View Timeline <span>(witness)</span></a>
		</li>
		<li>
			<img src="/images/teaser_social.jpg">
			<h2>DW is social</h2>
			<p><strong>Upload</strong> your Images and participate in a unique media installation. All submission are processed by the installation and form a unique piece of art after each exhibition.</p>
			<strong class="grey_button_nav">Participate <span>(whisper)</span><a href="/images/webcam" style="margin-top: 10px">Take Webcam Image</a><a href="/images/draw">Draw new Image</a><a href="/images/new" >Upload Local File</a></strong>
			
		</li>
		<li>
			<a href="/page/about"><img src="/images/teaser_about.jpg"></a>
			<h2 style="color: white">About DW</h2>
			<p><strong>Digital Whispers</strong> is the final college project of 8 talented MultiMediaArt artists. Learn more about the creators and their future plans for Digital Whispers.</p>
			<a href="/page/about" class="grey_button">Learn <span>about us</span></a>
		</li>
	</ul>
	
	
</div>
