<div class="content_top">
	<ul class="hover_nav clearfix right" style="margin-right: -20px">
		<li><a href="/page/timeline" class="witness"><strong>witness</strong> <span>View all Submissions on the timeline.</span></a></li>
		<li><a href="/images/new" class="whisper"><strong>whisper</strong> <span>Upload a new Submission.</span></a></li>
	</ul>
	<h1 class="dw_logo" style="margin:0"><a href="/">Digital Whispers</a></h1>	
</div>