<div class="content_top">
	<ul class="hover_nav clearfix right" style="margin-right: -20px">
		<li><a href="#" class="witness"><strong>witness</strong> <span>View all Submissions on the timeline.</span></a></li>
		<li><em href="#" class="whisper"><strong>whisper</strong> <a href="/images/webcam" style="margin-top: 10px;">Take Webcam Image</a><a href="/images/webcam">Draw new Image</a><a href="/images/new" >Upload Local File</a></em></li>
	</ul>
	<h1 class="dw_logo" style="margin:0"><a href="/">Digital Whispers</a></h1>	
</div>