<h2>Last 20 submissions</h2>
<ul class="last_submissions">
<%@images.reverse[0...20].each do |s|%>
	<li>
		<%# link_to image_tag(s.image.url(:small)), s %>
		<%= s.entry.user.username %>
		<%= link_to_remote image_tag(s.image.url(:small)), :url => {:action => "showdetails", :id => s}, :html => {:style => "display: block;"}%>
		
	</li>
<% end %>	
</ul>


