<%= @image.entry.user.username %>
<%= image_tag(@image.image.url(:original), :height => "300") %>

<a title="share on twitter" class="twitter" target="_blank" href="http://twitter.com/home?status=my image on Digital Whispers: http://www.digital-whispers/timeline#id=<%= @image.id %>">share digital whispers on twitter</a>
<a title="share on facebook" class="facebook"  target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.digital-whispers/timeline#id=<%= @image.id %>">share digital whispers on facebook</a>
