<% title "Timeline" %>

<div class="content_top">
	
	<div id="showdetails"><%= image_tag(@images.last.image.url(:original), :height => "300") %></div>
	
</div>

<div class="content_bottom clearfix">
	

	<%= render :partial => '/images/last_images' %>
	
	
</div>

<style type="text/css" media="screen">
	
	.header .dw_logo {
		display: block;
	}
	
</style>

