<% title "Timeline" %>

<div class="content_top">
<script type="text/javascript">
	var params = {
		        quality: "high",
		        wmode: "transparent",
		        allowscriptaccess: "never"
		    };
	
	
	var flashvars = {
		baseURL: "/flash/timeline",
		imageID: "", // ID zum Bild das aufgerufen werden soll
		submissions: "" // IDs von allen Bildern des eingeloggten Users
	};
	
	swfobject.embedSWF("/flash/timeline/timeline.swf", "flashTimeline", "100%", "500", "10.0.0", "", flashvars, params);	
</script>

	<div id="flashTimeline">Flash Timeline</div>
	<div id="showdetails"><%= image_tag(@images.last.image.url(:original), :height => "300") %></div>
	
</div>



<div class="content_bottom clearfix">
	

	<%= render :partial => '/images/last_images' %>
	
	
</div>

<style type="text/css" media="screen">
	
	.header .dw_logo {
		display: block;
	}
	
</style>

<script type="text/javascript" charset="utf-8">
	
	jQuery(document).ready(function ($) {
		
		
		
	}
	
</script>
