<% title "Upload a new Image" %>


<%= render :partial => 'content_top' %>

<script type="text/javascript">
		 swfobject.embedSWF("/flash/capture/capture.swf", "webcamImage", "340", "260", "10.0.0");
</script>


<div class="content_bottom">
	
	<h2>Upload a new Image</h2>

	<p>Feel free to fill our Installation with new content. We'll process your images and transform them to sound and vice versa.<br/><strong>If you are a registered User</strong>, your uploads are processed twice which results in even more awesome results.</p>

	<%= render :partial => 'form' %>
	
	<h2>Take an Image with your Webcam</h2>
	<div id="webcamImage">flashWebcamCapture</div>
	
</div>








