<% title "Upload a new Image" %>


<%= render :partial => 'content_top' %>



<div class="content_bottom">
	
	<h2>Upload a new Image</h2>

	<p>Feel free to fill our Installation with new content. We'll process your images and transform them to sound and vice versa.<br/><strong>If you are a registered User</strong>, your uploads are processed twice which results in even more awesome results.</p>
<p>Ideally, you’r uploaded file has a ratio of 4:3 (e.g. <strong>1024x768</strong> or <strong>640x480</strong>)</p>

	<%= render :partial => 'form' %>
	

	
	
</div>








