<% title "Upload a new Image" %>


<%= render :partial => 'content_top' %>



<div class="content_bottom">
	
	<h2>Upload a new Image</h2>

	<p>All uploaded Images are processed through the Installation.</p>

	<%= render :partial => 'form' %>
	
	
</div>








