<% title "Upload a new Image" %>


<%= render :partial => 'content_top' %>

<script type="text/javascript">
		 swfobject.embedSWF("/flash/capture/capture.swf", "flashTimeline", "340", "260", "10.0.0");
</script>


<div class="content_bottom">
	
	<h2>Upload a new Image</h2>

	<p>All uploaded Images are processed through the Installation. <br/>If you are a registered User, your uploads are processed twice which results in even more awesome results.</p>

	<%= render :partial => 'form' %>
	
	<div id="webcamImage">flashWebcamCapture</div>
	
</div>








