$.setFragment({ "id" : <%= @image.id%>})


$("#showdetails").replaceWith('<div id="showdetails"><%= escape_javascript(render(:partial => "showdetails")) %></div>');

jQuery(document).ready(function() {

	jQuery('#image_carousel2').jcarousel({
	        scroll: 1;
			visible: 1;
	    });
});



