<% title "Image" %>


<%= render :partial => 'content_top' %>



<div class="content_bottom">
	
	<h2>Submission #<%= @image.id %></h2>

	<p>
		ORIGINAL<br/>
		<%= image_tag @image.image.url %>
	</p>


	
	
	
</div>
